In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
import seaborn as sns
%matplotlib inline
import numpy as np
import datetime 

import warnings
warnings.filterwarnings("ignore")

In [2]:
df = pd.read_csv('BD_LAB_EXAMPLE_SAMPLE.csv', encoding='windows-1251')

In [3]:
df = df[df.LAT != '.']
df.head()
df['LAT'] = df['LAT'].astype('float32')
df['LON'] = df['LON'].astype('float32')

In [4]:
flo = ['cost', 'call_duration_minutes', 'data_volume_mb']
for ff in flo:
    df[ff] = df[ff].astype('float32')

In [5]:
cat = ['hash_number_A', 'hash_tariff', 'event', 'event_sub', 'network_service_direction', 'hash_number_B', 'number_B_category', 
 'hash_accum_code', 'device_type', 'phone_price_category', 'interest_1', 'interest_2', 'interest_3', 'interest_4', 'interest_5']
for cc in cat:
    df[cc] = df[cc].astype('category')
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1309551 entries, 14321 to 1327628
Data columns (total 21 columns):
hash_number_A                1309551 non-null category
hash_tariff                  1309551 non-null category
event                        1309551 non-null category
event_sub                    1309551 non-null category
network_service_direction    1309551 non-null category
event_start_date             1309551 non-null object
LAT                          1309551 non-null float32
LON                          1309551 non-null float32
cost                         1309551 non-null float32
hash_number_B                1309551 non-null category
number_B_category            23520 non-null category
call_duration_minutes        1309551 non-null float32
data_volume_mb               1309551 non-null float32
hash_accum_code              1309551 non-null category
device_type                  1233990 non-null category
phone_price_category         1309551 non-null category
interest_1                   738670 non-null category
interest_2                   700596 non-null category
interest_3                   617277 non-null category
interest_4                   534960 non-null category
interest_5                   424287 non-null category
dtypes: category(15), float32(5), object(1)
memory usage: 71.8+ MB

In [6]:
# Time 
time = []
for tim in df['event_start_date']:
    tim1 = datetime.datetime.strptime(tim, "%d%b%y:%H:%M:%S")
    time.append(tim1)
df['time'] = time
df.head()
#Reassign time and del time column
#df.event_start_date = df.time
#del df['time']

,hash_number_A,hash_tariff,event,event_sub,network_service_direction,event_start_date,LAT,LON,cost,hash_number_B,...,data_volume_mb,hash_accum_code,device_type,phone_price_category,interest_1,interest_2,interest_3,interest_4,interest_5,time
14321,2006027,57042,network_ser,content,Incoming,19AUG17:18:30:02,51.212780,24.707224,0.0,95157,...,0.0,0,smartphone,2,NaN,NaN,NaN,NaN,NaN,2017-08-19 18:30:02
14322,1873067,35152,network_ser,other_sms,Incoming,27JUN17:09:28:51,50.362778,25.699165,0.0,95167,...,0.0,0,smartphone,2,NaN,NaN,NaN,NaN,NaN,2017-06-27 09:28:51
14323,1873067,35152,network_ser,other_sms,Incoming,27JUN17:09:28:39,50.362778,25.699165,0.0,95167,...,0.0,0,smartphone,2,NaN,NaN,NaN,NaN,NaN,2017-06-27 09:28:39
14324,1877518,45807,network_ser,international_voice,Incoming,14JUL17:13:27:16,51.340275,26.622499,0.0,95167,...,0.0,0,smartphone,2,Досуг,Наука и образование,Дом и семья,Hi-Tech,Новости и СМИ,2017-07-14 13:27:16
14325,1680547,35152,network_ser,international_voice,Incoming,31AUG17:18:59:19,48.897781,24.851112,0.0,95184,...,0.0,0,phone,1,NaN,NaN,NaN,NaN,NaN,2017-08-31 18:59:19

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1309551 entries, 14321 to 1327628
Data columns (total 22 columns):
hash_number_A                1309551 non-null category
hash_tariff                  1309551 non-null category
event                        1309551 non-null category
event_sub                    1309551 non-null category
network_service_direction    1309551 non-null category
event_start_date             1309551 non-null object
LAT                          1309551 non-null float32
LON                          1309551 non-null float32
cost                         1309551 non-null float32
hash_number_B                1309551 non-null category
number_B_category            23520 non-null category
call_duration_minutes        1309551 non-null float32
data_volume_mb               1309551 non-null float32
hash_accum_code              1309551 non-null category
device_type                  1233990 non-null category
phone_price_category         1309551 non-null category
interest_1                   738670 non-null category
interest_2                   700596 non-null category
interest_3                   617277 non-null category
interest_4                   534960 non-null category
interest_5                   424287 non-null category
time                         1309551 non-null datetime64[ns]
dtypes: category(15), datetime64[ns](1), float32(5), object(1)
memory usage: 81.8+ MB

In [8]:
df.columns

Index(['hash_number_A', 'hash_tariff', 'event', 'event_sub',
       'network_service_direction', 'event_start_date', 'LAT', 'LON', 'cost',
       'hash_number_B', 'number_B_category', 'call_duration_minutes',
       'data_volume_mb', 'hash_accum_code', 'device_type',
       'phone_price_category', 'interest_1', 'interest_2', 'interest_3',
       'interest_4', 'interest_5', 'time'],
      dtype='object')

In [9]:
getlist = ['Митний пост Краковець', 'Пункт пропуску Шегині', 'Устилуг', 'МАПП Ягодин', 'Володимир-Волинський', 'Лудин', 'Ізов', 
          'Рава-Руська', 'Шегині', 'Хирів', 'Смільниця', 'Грушів', 'Мостиська', 'Угринів', 'Малі Селменці', 'Малий Березний', 'Ужгород', 'Павлове', 'Чоп', 'Чоп (Тиса)', 'Батьово', 'Саловка', 'Дзвінкове', 'Обава', 'ВПС Лужанка', 'Вилок', 'Дякове', 'Солотвино', 'Тересва', 'Ділове', 'Вадул-Сірет', 'Тереблечье', 'аеропорт Львів']

In [10]:
df_coord = pd.DataFrame(columns = ['Name', 'LAT', 'LON'])
listoflist = []
#coordinates of border points
from geopy.geocoders import Nominatim
geolocator = Nominatim()
for i in getlist:
    location = geolocator.geocode([i])
    df_coord = df_coord.append({'Name': i, 'LAT': location.latitude, 'LON': location.longitude}, ignore_index=True)
    coord_list = [location.latitude, location.longitude]
    listoflist.append(coord_list)
    print(i,location.latitude, location.longitude)
df_coord.head()
listoflist
#print(location.address)
#print(location.raw)

AttributeError: 'NoneType' object has no attribute 'latitude'

In [3]:
df_coord

NameError: name 'df_coord' is not defined

In [93]:
border_checkpoint_coords = listoflist # CHANGE IT!!! List of tuples with border checkpoints coordinates
radius = 0.012 # CHANGE IT !!!! radius in decimal points equal to 1 km
def check_coords(point_coord):
    """
    Input [LAT, LON] list with Latitude and Longitude of a point
    Returns True if point_coords fits to circle around a border checkpoint
    with radius 1 km
    """
    
    for checkpoint_coord in border_checkpoint_coords:
        if (point_coord[0] - checkpoint_coord[0])**2 + (point_coord[1] - checkpoint_coord[1])**2 <= radius**2:
            return True
    return False

In [95]:
check_coords([49.841952, 24.0315921])

False